body {
  background-image: url(https://cdn.pixabay.com/photo/2019/08/07/11/11/security-4390583__340.jpg);
}
.App {
  background-color: #000770;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input {
  background-color: rgb(0, 255, 242);
  border: 0;
  color: rgb(252, 237, 214);
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#to-do-form input:focus {
  outline: none;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(30, 0, 163);
  cursor: pointer;
}
#to-do-form button:focus {
  outline: none;
}
